@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 17px 140px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 18px;
}

li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 100px 40px 170px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    background-color: #1F2937;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 300;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0px;
    padding: 8px 18px;
    border-radius: 8px;
    width: 120px;
    font-weight: 600;
    font-size: 100%;
}

.placeholder {
    color: #d4d6d1;
    background-color: #526074;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.info > *{
    padding: 50px 30px 10px;
}

.cards {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.container {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.info .txt {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.subtext {
    width: 140px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 130px 280px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.speaker {
    align-self: flex-end;
    font-weight: 600;
    font-size: 24px;
}

.prompt {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    margin: 120px;
    padding: 50px 20px;
}

.prompt button {
    border: 2px solid #fff;
}

.prompt div div {
    font-size: 24px;
    font-weight: 600;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 18px;
}